<!DOCTYPE html> <!-- Версия HTML -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GreenYA.com</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
    <!-- Название сайта (h1) -->
    <div>
        <h1>Добро пожаловать на</h1>
    </div>
    <div>
        <h1>GreenYA.com</h1>
    </div>

    <!-- Описание приложения (p) -->
    <p class="red-text"><i>Текст-описание приложения.</i> Здесь можно рассказать, что это за <b><i>сайт</i></b>.</p>

    <!-- Изображение (img) -->
    <div>
        <img src="../static/img/example.jpg" alt="Описание картинки" width="375" height="370">
    </div>
    <div>
        <a href="https://i.pinimg.com/originals/63/a9/25/63a925297e448e707d11d83927045139.jpg">link</a>
    </div>
    <ul>
        <li>Первый элемент </li>
        <li>Второй элемент </li>
    </ul>
    <ol>
        <li>Первый элемент </li>
        <li>Второй элемент </li>
    </ol>
    <div>
        <button>Кнопка</button>
    </div>
    <a href="/table" target="_blank" class="button-style">Нажмите здесь, чтобы открыть таблицу</a>


</body>
</html>
