<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
    <!-- Название сайта (h1) -->
    <h1>Название сайта</h1>

    <!-- Описание приложения (p) -->
    <p>Текст-описание приложения. Здесь можно рассказать, что это за сайт.</p>

    <!-- Изображение (img) -->
    <img src="../static/images/example.jpg" alt="Описание картинки" width="300">
</body>
</html>
