{% extends "base_index.html" %}
{% block content %}
<h1> Страница </h1>
    <form action="/add_note" method="POST">
        <label for="title">Заголовок:</label>
        <input type="text" id="title" name="title"><br>

        <label for="text">Текст:</label>
        <input type="text" id="text" name="text"><br>

        <button type="submit">Отправить</button>
    </form>

    <h1>Все записи:</h1>

    <table border="1">
    <tr>
        <th>ID Заметки</th>
        <th>ID Пользователя</th>
        <th>Имя пользователя</th>
        <th>Заголовок</th>
        <th>Текст</th>
    </tr>
        {% for note in notes %}
    <tr>
        <th>{{ note.id }}</th>
        <td>{{ note.user_id }}</td>
        <td>{{ note.user_name }}</td>
        <td>{{ note.title }}</td>
        <td>{{ note.text }}</td>
    </tr>
    {% endfor %}
    </table>

{% endblock %}
